Classroom Info
<p>
  <%= render partial: "classroom", locals: {classroom: @classroom} %>
</p>

<h2>Students</h2>
<ul>
  <% @classroom.students.each do |student| %>
    <li><%= render partial: "student", locals: {student: student} %></li>
  <% end %>
</ul>

